h1 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 60px;
  text-align: center;
}

.container {
  background: lightgray;
  border-radius: 20px;
  margin: auto;
  padding: 10px;
  width: 320px;
  align-content: center;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: black;
  text-align: center;
}

h4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
}

#skin-options {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.circle {
  height: 60px;
  width: 60px;
  background-color: #555;
  border: grey;
  border-width: 3px;
  border-style: solid;
  border-radius: 50%;
  margin: 7px;
  float: left;
}

#gold {
  background-color: gold;
}

#navajowhite {
  background-color: navajowhite;
}

#peru {
  background-color: peru;
}

#sienna {
  background-color: sienna;
}

#gold:hover {
  background-color: dodgerblue;
}

#navajowhite:hover {
  background-color: dodgerblue;
}

#peru:hover {
  background-color: dodgerblue;
}

#sienna:hover {
  background-color: dodgerblue;
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  display: flex;
  justify-content: center;
  line-height: 60px;
}

#difficulty-options {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.rectangle, .rectangle2 {
  height: 30px;
  width: 80px;
  background-color: whitesmoke;
  border: grey;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  margin: 10px;
  float: left;
}

.rectangle-gray {
  height: 30px;
  width: 80px;
  background-color: darkgray;
  border: grey;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  margin: 10px;
  float: left;
  cursor: not-allowed;
}

.oval {
  height: 30px;
  width: 40px;
  background-color: whitesmoke;
  border: grey;
  border-radius: 20px;
  border-width: 3px;
  border-style: solid;
  margin: 10px;
  float: left;
}

.rectangle:hover {
  background-color: dodgerblue;
}

.crimson:hover {
  background-color: crimson;
}

.oval:hover {
  background-color: dodgerblue;
}

#confirm-split:hover {
  background-color: yellowgreen;
}

.content2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  display: flex;
  justify-content: center;
  line-height: 30px;
}

.content2:hover {
  color: whitesmoke;
}

.content4 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: grey;
  display: flex;
  justify-content: center;
  line-height: 30px;
}

#confirm:hover {
  color: black;
}

.content3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  display: flex;
  justify-content: center;
  line-height: 30px;
}

.buttons {
  padding: 20px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

button {
  margin: 10px;
}

#rules-button {
  position: absolute;
  left: 40%;
  transform: translate(-50%, 0);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  margin: auto;
  padding: 25px;
  border: 1px solid #888;
  border-radius: 20px;
  width: 400px;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-text {
  width: 390px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: black;
  text-align: left;
}

#computer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player {
  display: flex;
  justify-content: center;
  align-items: center;
}


.hand {
  height: 150px;
  width: 150px;
  background: lightgray;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: black;
  text-align: center;
  line-height: 150px;
}

.result {
  height: 302px;
  width: 302px;
  margin: auto;
  background: yellowgreen;
  border: 1px solid black;
}

#you-win {
  line-height: 260px;
}

#lose {
  background: tomato;
}

#you-lose {
  line-height: 260px;
}

.player {
  background-color: peru;
}

.container2 {
  background: lightgray;
  border-radius: 20px;
  margin: 20px auto;
  padding: 15px;
  width: 320px;
  align-content: center;
}

#move-options {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

#attack {
  background-color: lightcoral;
}

#attack:hover {
  background-color: dodgerblue;
}

#split {
  background-color: lightgreen;
}

#split:hover {
  background-color: dodgerblue;
}

#computers-move {
  width: 300px;
}

#return-button {
  position: absolute;
  left: 25%;
  transform: translate(-50%, 0);
}

